@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Indie+Flower&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
    }

body{
    background-color:#b9c9c9;
}


h1{
    text-align: center;
    margin: 120px  0 60px  0;
    color: #2c2c2c;
}

.button-container{
    display: flex;
    justify-content: center;
    
}

.button-container button{
    padding: 20px 40px;
    margin: 0 20px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}
.button-container .btn:hover{
    background-color: #9a9a9a;
}

#mydiv {
    background-color: #f0f0f0;
    width: 40%;
    margin: 0 auto;
    padding: 20px 50px;
    text-align: center;
    margin-top: 30px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 400;

}